<%- include('partials/header'); -%>
<header>
    <div class="undergarments">
        <img src="" alt="">
    </div>
    <div>
        <h2>Undergarments</h2>
        <h3>Estoy Comoda</h3>
        <a href="/products" clas="btn">Mira</a>
    </div>
</header>

<%- include('partials/footer'); -%>